@tailwind base;
@tailwind components;
@tailwind utilities;

swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@layer {
  body,
  html {
    @apply fs-16 leading-[140%] text-oby-222324;
  }
}
